@model List<ShopEase.ViewModels.Restaurant.RestaurantVm>
<html>
<span class="text-success"><b>@ViewBag.successMessage</b></span>
    <body>
        <table border="3px" class="table">
            <tr class="table1">
            <td><b><a asp-action="ViewAll" asp-route-sortColumnName="RestaurantName" asp-route-sortOrder="ASC">Restaurant Name</a></b></td>
            <td><b><a asp-action="ViewAll" asp-route-sortColumnName="MobileNumber" asp-route-sortOrder="ASC">Mobile Number</a></b></td>
            <td><b><a asp-action="ViewAll" asp-route-sortColumnName="Location" asp-route-sortOrder="ASC">Location</a></b></td>
            <td><b><a asp-action="ViewAll" asp-route-sortColumnName="Rating" asp-route-sortOrder="ASC">Rating</a></b></td>
            </tr>

            @foreach (ShopEase.ViewModels.Restaurant.RestaurantVm restaurantVm in Model)
            {
                <tr class="table1">
                    <td><b><a asp-controller="Restaurant" asp-action="View" asp-route-id="@restaurantVm.Id">@restaurantVm.RestaurantName</a></b></td>
                    <td><b>@restaurantVm.MobileNumber</b></td>
                    <td><b>@restaurantVm.Location</b></td>
                    <td><b>@restaurantVm.Rating</b></td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = restaurantVm.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = restaurantVm.Id })
                    </td>
                </tr>
            }
        </table>
        <b><a asp-controller="Restaurant" asp-action="Add">Add New Restaurant</a></b>
    </body>
</html>