@model ShopEase.ViewModels.CustomerVm

<html>
    <body>
    <h1> Customer Edit </h1>
        <table class="table" style="width:600px;">
            <tr class="table1"> </tr>
            <form asp-action="Update">
                <label style="visibility:hidden;" for="id">Id:</label><br>
                <input style="visibility:hidden;" type="text" id="id" name="id" value="@Model.Id"><br>
                <tr>
                    <td colspan="2">
                        <h3>Presnol Details</h3>
                    </td>
                </tr>
                <tr>
                    <td><label for="FullName"><b>Full Name:</b></label></td>
                    <td><input type="text" id="FullName" name="FullName" value="@Model.FullName"></td>
                </tr>
                <tr>
                    <td><b><label for="Gender">Gender:</label></b></td>
                    <td>
                        @Html.RadioButtonFor(model => model.Gender, "Male") Male
                        @Html.RadioButtonFor(model => model.Gender, "Female") Female
                        @Html.RadioButtonFor(model => model.Gender, "Transgender") Transgender
                        @Html.RadioButtonFor(model => model.Gender, "Others") Others
                        @Html.ValidationMessageFor(model => model.Gender)
                    </td>   
                </tr>
                <tr>
                    <td><label for="Email"><b>Email:</b></label></td>
                    <td><input type="text" id="Email" name="Email" value="@Model.Email" disabled></td>
                </tr>
                <tr>
                    <td><label for="Mobile"><b>Mobile:</b></label></td>
                    <td><input type="text" id="Mobile" name="Mobile" value="@Model.Mobile"></td>
                </tr>
                <br />
                <tr>
                    <td colspan="2">
                        <h3>Address Details</h3>
                    </td>
                </tr>
                <tr>
                    <td><label for="AddressTypeId"><b>Address Type:</b></label></td>
                    <td>
                        @Html.DropDownListFor(model => model.AddressTypeId, (SelectList)ViewBag.AddressTypes, "-- Select --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AddressTypeId, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label for="AddressLine1"><b>Address Line1:</b></label></td>
                    <td><textarea id="AddressLine1" name="AddressLine1">@Model.AddressLine1</textarea></td>
                </tr>
                <tr>
                    <td><label for="AddressLine2"><b>Address Line2:</b></label></td>
                    <td><textarea id="AddressLine2" name="AddressLine2">@Model.AddressLine2</textarea></td>
                </tr>
                <tr>
                    <td><label for="PinCode"><b>Pin Code:</b></label></td>
                    <td><input type="text" id="PinCode" name="PinCode" value="@Model.PinCode"></td>
                </tr>
                <tr>
                    <td><label for="CountryId"><b>Country Name:</b></label></td>

                    <td>
                        @Html.DropDownListFor(model => model.CountryId, ViewBag.Countries as SelectList, "-- Select --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="button-container">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <input type="submit" value="Cancel" class="btn btn-primary" />
                    </td>
                </tr>
            </form>
        </table>
    </body>

</html>