@model ShopEase.ViewModels.CustomerVm
<h1>Register</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <span class="text-danger"><b>@ViewBag.ErrorMessage</b></span>
            <br />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"><b>Full Name</b></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"><b>Mobile</b></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label><b>Gender:</b></label><br />
                @Html.RadioButtonFor(model => model.Gender, "Male") Male
                @Html.RadioButtonFor(model => model.Gender, "Female") Female
                @Html.RadioButtonFor(model => model.Gender, "Transgender") Transgender
                @Html.RadioButtonFor(model => model.Gender, "Others") Others
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Email" class="control-label"><b>Email</b></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Password" class="control-label"><b>Password</b></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AddressLine1" class="control-label"><b>Address Line1</b></label>
                <input asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AddressLine2" class="control-label"><b>Address Line2</b></label>
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PinCode" class="control-label"><b>Pin Code</b></label>
                <input asp-for="PinCode" class="form-control" />
                <span asp-validation-for="PinCode" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CountryId"><b>Country Name</b></label>
                @Html.DropDownListFor(model => model.CountryId, ViewBag.Countries as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AddressTypeId"><b>Address Type</b></label>
                @Html.DropDownListFor(model => model.AddressTypeId, ViewBag.AddresseTypes as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AddressTypeId, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
