@model MyWebApp.ViewModels.Products.ProductAddVm

<h1>Add</h1>

<h4>Product</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">

            <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>

            @if (ViewBag.ErrorMessage != null)
            {
                <span class="text-danger"><b>@ViewBag.ErrorMessage</b></span>
            }
            <br /><br />
            
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"><b>Product Name</b></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"><b>Brand Name</b></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <br/>   
            
            
            <div class="form-group">
                <label asp-for="MyId"><b>Product Size</b></label>
                @Html.DropDownListFor(model => model.MyId, ViewBag.ProductSizes as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MyId, "", new { @class = "text-danger" })
            </div>  

            <br/>
            <div class="form-group">
                <label asp-for="ColorId"><b>Product Color</b></label>
                @Html.DropDownListFor(model => model.ColorId, ViewBag.ProductColors as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ColorId, "", new { @class = "text-danger" })
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Fit" class="control-label"><b>Fit</b></label>
                <input asp-for="Fit" class="form-control" />
                <span asp-validation-for="Fit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FabricId" class="control-label"><b>Product Fabric</b></label>
                @Html.DropDownListFor(model => model.FabricId, ViewBag.ProductFabrics as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FabricId, "", new { @class = "text-danger" })
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"><b>Product Category</b></label>
                @Html.DropDownListFor(model => model.CategoryId, ViewBag.ProductCategories as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"><b>Discount</b></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Price" class="control-label"><b>Price</b></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>