@*@model List<MyWebApp.ViewModels.Products.BuyNowVm>

@{
    ViewData["Title"] = "Order";
}

<html>
<head>
    <title>Order Table</title>
</head>
<br />
<span class="text-success"> <b> @TempData["SuccessMessageForBuyNow"] </b> </span>
<br />

<body>
    <form>
        <table border="3px" class="table">
            <tr class="table1">
                <td><b>Product Id</b></td>
                <td><b>Order Date</b></td>
                <td><b>Total Ammount</b></td>
                <td><b>Quantity</b></td>
            </tr>

            @foreach (MyWebApp.ViewModels.Products.BuyNowVm buyNowVm in Model)
            {
                <tr class="table1">
                    <td><b>@buyNowVm.ProductId</b></td>
                    <td><b>@buyNowVm.Orderdate</b></td>
                    <td><b>@buyNowVm.TotalAmount</b></td>
                    <td><b>@buyNowVm.Quantity</b></td>
                </tr>
            }
        </table>
    </form>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
</html>*@