@model MyWebApp.ViewModels.Products.ProductVm

<h4>Product</h4>
<hr />
<div class="row">   
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<span class="text-danger"><b>@ViewBag.errormessage</b></span>*@
            <br /><br />

            <div class="form-group">
                <label style="visibility:hidden;" asp-for="Id" class="control-label"></label>
                <input style="visibility:hidden;" asp-for="Id" class="form-control" />
                <span  style="visibility:hidden;" asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Product Name :</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label">Brand Name :</label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="Product Size">Product Size </label>
                @Html.DropDownListFor(model => model.SizeId, ViewBag.ProductSizes as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SizeId, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group">
                <label for="Product Color">Product Color</label>
                @Html.DropDownListFor(model => model.ColorId, ViewBag.ProductColors as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ColorId, "", new { @class = "text-danger" })
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Fit" class="control-label"></label>
                <input asp-for="Fit" class="form-control" />
                <span asp-validation-for="Fit" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FabricName" class="control-label">Fabric Name</label>
                @Html.DropDownListFor(model => model.FabricId, ViewBag.ProductFabrics as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FabricId, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Category Name</label>
                @Html.DropDownListFor(model => model.CategoryId, ViewBag.ProductCategories as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<a href="http://localhost:5277/Product/Index"> Back Home </a>

