@model List<MyWebApp.ViewModels.Products.ProductVm>

@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <title>Product Table</title>
</head>
<br />
<span class="text-success"> <b> @TempData["SuccessMessageForAdd"] </b> </span>

<span class="text-success"> <b> @TempData["SuccessMessageForUpdate"] </b> </span>

<span class="text-success"> <b> @TempData["SuccessMessageForDelete"] </b> </span>
<br />
<div>
    <b><b><a href="http://localhost:5277/Product/Add"> Add </a></b></b>
</div>
<br/>
<b><label>Total Product:</label>  @ViewBag.productCount</b>
<br/>

<body>
    <form>
        <table border="3px" class="table">
            <tr class="table1">
                <td><b>Product Name</b></td>
                <td><b>Brand Name</b></td>
                <td><b>Size</b></td>
                <td><b>Color Name</b></td>
                <td><b>Fit</b></td>
                <td><b>Fabric Name</b></td>
                <td><b>Category Name</b></td>
                <td><b>Discount</b></td>
                <td><b>Price</b></td>
                <td><b>Action</b></td>
            </tr>

            @foreach (MyWebApp.ViewModels.Products.ProductVm productVm in Model)
            {
                <tr class="table1">
                    <td><b><a href="http://localhost:5277/Product/View/@productVm.Id"><b>@productVm.ProductName</b></a></b></td>
                    <td><b>@productVm.BrandName</b></td>
                    <td><b>@productVm.SizeName</b></td>
                    <td><b>@productVm.ColorName</b></td>
                    <td><b>@productVm.Fit</b></td>
                    <td><b>@productVm.FabricName</b></td>
                    <td><b>@productVm.CategoryName</b></td>
                    <td><b>@productVm.Discount</b></td>
                    <td><b>@productVm.Price</b></td>
                    <td>
                        <b>
                            @Html.ActionLink("Edit", "Edit", new { id = productVm.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = productVm.Id })
                        </b>
                    </td>
                </tr>
            }
        </table>
    </form>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
</html>