@model MyWebApp.ViewModels.Product

<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ProductSearchResult"> 

                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <div class="form-group">
                    <label class="control-label">Product Name</label>
                    <input type="Text" id="ProductName" name="ProductName" value="jacket" class="form-control" new { required="required" } />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                </br>
                <div class="form-group">
                    <label>Product Color</label>
                    @Html.DropDownListFor(model => model.ColorId, ViewBag.ProductColors as SelectList, "-- Select --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ColorId, "", new { @class = "text-danger" })
                </div>
                </br>
                <div class="form-group">
                    <label> Product Size </label>
                    @Html.DropDownListFor(model => model.SizeId, ViewBag.ProductSizes as SelectList, "-- Select --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SizeId, "", new { @class = "text-danger" })
                </div>
                </br>
                <div class="form-group">
                    <label> Product Fabric </label>
                    @Html.DropDownListFor(model => model.FabricId, ViewBag.ProductFabrics as SelectList, "-- Select --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FabricId, "", new { @class = "text-danger"})
                </div>
                </br>
                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                Min Price <input type="Text" id="Min" name="MinPrice" class="form-control" new { required="required" } />
                            </td>
                            <td>
                                Max Price <input type="Text" id="Max" name="MaxPrice" class="form-control" new { required="required" } />
                            </td>
                        </tr>
                    </table>
                </div>  
                </br>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
</br>
<div>
    <b>Back To Home</b>
</div>