@model MyWebApp.ViewModels.Products.ProductVm

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<hr />
<html>

<head>
    <title>Product View</title>
</head>
<style>
    .heading {
        background-color: rgb(113, 168, 175);
        font-family: Verdana;
    }

    .table {
        width: 40;
        height: 25;
        font-size: large;
        font-family: sans-serif;
    }
</style>

<body>
    <form>

        <h2 class="heading">
            Customer View
        </h2>

        <table class="table">
            <tr>
                <td><b>Product Name:</b></td>
                <td>@Model.ProductName</td>
            </tr>
            <tr>
                <td><b>Brand Name:</b></td>
                <td>@Model.BrandName</td>
            </tr>
            <tr>
                <td><b>Size:</b></td>
                <td>@Model.SizeName</td>
            </tr>
            <tr>
                <td><b>Color Name:</b></td>
                <td>@Model.ColorName</td>
            </tr>
            <tr>
                <td><b>Fit:</b></td>
                <td>@Model.Fit</td>
            </tr>
            <tr>
                <td><b>Fabric Name:</b></td>
                <td>@Model.FabricName</td>
            </tr>
            <tr>
                <td><b>Category Name:</b></td>
                <td>@Model.CategoryName</td>
            </tr>
            <tr>
                <td><b>Discount:</b></td>
                <td>@Model.Discount</td>
            </tr>
            <tr>
                <td><b>Price:</b></td>
                <td>@Model.Price</td>
            </tr>
            <td>
                <b>Enter Quantity:</b>
            </td>
            <td>
                <input type="text" id="Quantity" name="Quantity"
            </td>
            <tr>
                <td>

                </td>
                <td>
                    <div class="form-group" >
                        <input type="submit" value="Buy Now" class="btn btn-primary" />
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <a href="http://localhost:5277/Product/Index"> <b>Back Home</b> </a>
    </form>
</body>

</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
