@model ShopEase.ViewModels.OrderSummaryVm

<h1>Order Summary</h1>
<br />
<span class="success-msg"><b>@ViewBag.ErrorMessage</b></span>

<form asp-action="MyOrder">
    <div>
        <p><b>Order Number:</b> @Model.OrderNumber</p>
        <p><b>Paid Amount:</b> @Model.Price</p>
        <p><b>Order Date:</b> @Model.OrderDate.ToString("dddd, dd MMMM yyyy hh:mm tt")</p>
        <p><b>Customer Name:</b> @Model.FullName</p>
        <p>
            <b>Address:</b>
             @Model.AddressLine1 @("-")
             @Model.AddressLine2 @("-")
             @Model.PinCode @("-") @Model.CountryName
             @("-") @Model.AddressTypeName
        </p>
        <br />
        <img src="/UploadedFiles/@Model.ImageName" alt="Product Image" style="float: right; width: 200px; height: 200px; ">
    </div>
    <br />
    <input type="submit" value="My Order" class="btn btn-primary" />
</form>