@model List<ShopEase.ViewModels.OrderVm>

<html>
<br />
    <body>
        <td style="text-align: right;">
            <div style="margin-left: 150px;">
                <b>My Order</b>
            </div>
        </td>
    <br />
        <form>
            <table border="3px" class="table" style="width:1400px;">
                <tr class="table1">
                    <td><b>Order Number</b></td>
                    <td><b>Title</b></td>
                    <td><b>Full Name</b></td>
                    <td><b>Order Date</b></td>
                    <td><b>Price</b></td>
                    <td><b>Quantity</b></td>
                    <td><b>Address</b></td>
                </tr>
    
                @foreach (ShopEase.ViewModels.OrderVm orderVm in Model)
                {
                    <tr class="table1">
                    <td><b><a href="https://localhost:7150/Order/OrderDetail?orderNumber=@orderVm.OrderNumber">@orderVm.OrderNumber</a></b></td>
                        <td><b>@orderVm.Title</b></td>
                        <td><b>@orderVm.FullName</b></td>
                        <td><b>@orderVm.OrderDate.ToString("dddd, dd MMMM yyyy hh:mm tt")</b></td>
                        <td><b>@orderVm.Price</b></td>
                        <td><b>@orderVm.Quantity</b></td>
                    <td>
                        <b>@($@"{orderVm.AddressLine1}, {orderVm.AddressLine2}, 
                                {orderVm.PinCode}, {orderVm.CountryName}, 
                                {orderVm.AddressTypeName}")</b>
                    </td>
                    </tr>
                }
            </table>
        </form>
    </body>
</html>