@model List<ShopEase.ViewModels.OrderDetailVm>

<html>

<style>

    .table {
        width: 600px;
        font-size: medium;
        font-family: sans-serif;
        border-collapse: collapse;
    }

        .table td {
            border: 2px solid black;
            padding: 4px;
        }
</style>
<h1>Order Detail</h1>
<body>
    @foreach (var orderDetail in Model)
    {
        <form asp-action="OrderDetail">
            <table class="table" style="width:600px;">
                <tr>
                    <td><b>Order Number:</b></td>
                    <td>@orderDetail.OrderNumber</td>
                </tr>
                <tr>
                    <td><b>Order Date:</b></td>
                    <td>@orderDetail.OrderDate</td>
                </tr>
                <tr>
                    <td><b>Full Name:</b></td>
                    <td>@orderDetail.FullName</td>
                </tr>
                <tr>
                    <td><b>Mobile Number:</b></td>
                    <td>@orderDetail.Mobile</td>
                </tr>
                <tr>
                    <td><b>Product Name:</b></td>
                    <td>@orderDetail.ProductName</td>
                </tr>
                <tr>
                    <td><b>Image:</b></td>
                    <td>
                        <a href="@Url.Action("View", "Product", new { id = orderDetail.ImageName })">
                            <img src="/UploadedFiles/@orderDetail.ImageName" width="60" height="60" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><b>Address:</b></td>
                    <td>
                        @orderDetail.AddressLine1 @("-")
                        @orderDetail.AddressLine2 @("-")
                        @orderDetail.PinCode @("-") @orderDetail.CountryName
                        @("-") @orderDetail.AddressTypeName
                    </td>
                </tr>
                <tr>
                    <td><b>Paid Amount:</b></td>
                    <td>@orderDetail.Price</td>
                </tr>
                <tr>
                    <td><b>Quantity:</b></td>
                    <td>@orderDetail.Quantity</td>
                </tr>
            </table>
            <br />
        </form>
    }
</body>

</html>