@model ShopEase.ViewModels.OrderSummaryDetailVm

<html>

<style>

    .table {
        width: 600px;
        font-size: medium;
        font-family: sans-serif;
        border-collapse: collapse;
    }

        .table td {
            border: 2px solid black;
            padding: 4px;
        }
</style>
<h1>Order Detail</h1>
<body>
    <form asp-action="OrderDetail">

        <table class="table" style="width:600px;">
            <tr>
                <td><b>Order Number:</b></td>
                <td>@Model.OrderNumber</td>
            </tr>
            <tr>
                <td><b>Order Date:</b></td>
                <td>@Model.OrderDate</td>
            </tr>
            <tr>
                <td><b>Full Name:</b></td>
                <td>@Model.FullName</td>
            </tr>
            <tr>
                <td><b>Mobile Number:</b></td>
                <td>@Model.Mobile</td>
            </tr>
            <tr>
                <td><b>Product Name:</b></td>
                <td>@Model.ProductName</td>
            </tr>
            <tr>
                <td><b>Image:</b></td>
                <td><a href="https://localhost:7150/Product/View/@Model.ImageName"> <img src="/UploadedFiles/@Model.ImageName" width="60" height="60" /></a></td>
            </tr>
            <tr>
                <td><b>Address:</b></td>
                <td>
                    @Model.AddressLine1 @("-")
                    @Model.AddressLine2 @("-")
                    @Model.PinCode @("-") @Model.CountryName
                    @("-") @Model.AddressTypeName
                </td>
            </tr>
            <tr>
                <td><b>Paid Amount:</b></td>
                <td>@Model.Price</td>
            </tr>
            <tr>
                <td><b>Quantity:</b></td>
                <td>@Model.Quantity</td>
            </tr>
        </table>
        <br />
    </form>
</body>

</html>