@model ShopEase.ViewModels.OrderDetailVm

<html>

<h1>Order Detail</h1>
<body>
    <form asp-action="MyOrder">
        <table class="table" style="width:600px;">
            <tr>
                <td><b>Order Number:</b></td>
                <td>@Model.OrderNumber</td>
            </tr>
            <tr>
                <td><b>Order Date:</b></td>
                <td>@Model.OrderDate</td>
            </tr>
            <tr>
                <td><b>Full Name:</b></td>
                <td>@Model.FullName</td>
            </tr>
            <tr>
                <td><b>Mobile Number:</b></td>
                <td>@Model.Mobile</td>
            </tr>
            <tr>
                <td><b>Product Name:</b></td>
                <td>@Model.ProductName</td>
            </tr>
            <tr>
                <td><b>Image:</b></td>
                <td><a href="https://localhost:7150/Product/View?Id=@Model.ProductId"> <img src="/UploadedFiles/@Model.ImageName" width="60" height="60" /></a></td>
            </tr>
            <tr>
                <td><b>Address:</b></td>
                <td>
                    @Model.AddressLine1 <br />
                    @Model.AddressLine2 <br />
                    @Model.PinCode - @Model.CountryName <br />
                    @Model.AddressTypeName
                </td>
            </tr>
            <tr>
                <td><b>Paid Amount:</b></td>
                <td>@Model.Price</td>
            </tr>
            <tr>
                <td><b>Quantity:</b></td>
                <td>@Model.Quantity</td>
            </tr>
        </table>
        <tr>
            <td></td>
            <td style="text-align: right;">
                <div style="margin-left: 150px;">
                    <input type="submit" value="Back To Order" class="btn btn-primary" onclick="window.location.href='https://localhost:7150/Order/MyOrder'" />
                </div>
            </td>
        </tr>
        <br />
    </form>
</body>

</html>
