@model ShopEase.ViewModels.OrderVm

<h1>Place Order</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="PlaceOrderFromCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <span class="text-danger"><b>@ViewBag.ErrorMessage</b></span>
            <div class="form-group row">
                <label for="Quantity" class="col-md-4 col-form-label"><b>Select Quantity:</b></label>
                <div class="col-md-4">
                    <select id="Quantity" name="Quantity" class="form-control">
                        <option value="" disabled selected>--Select--</option>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="AddressId" class="col-md-4 col-form-label"><b>Address</b></label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.AddressId, ViewBag.Address as SelectList, "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="Price" class="col-md-4 col-form-label"><b>Total Price:</b></label>
                <div class="col-md-8">
                    <p style="display: inline-block;">@ViewBag.TotalPrice</p>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-md-12">
                    <h4>Card Details</h4>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="FullName" class="col-md-4 col-form-label"><b>Full Name:</b></label>
                <div class="col-md-4">
                    <input type="text" id="FullName" name="FullName" class="form-control" maxlength="15" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="CardNumber" class="col-md-4 col-form-label"><b>Card Number:</b></label>
                <div class="col-md-4">
                    <input type="text" id="CardNumber" value="9080500750602099" name="CardNumber" maxlength="16" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="ExpiryDate" class="col-md-4 col-form-label"><b>Expiry Date:</b></label>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="ExpiryMonth" name="ExpiryMonth" class="form-control">
                                @for (int month = 1; month <= 12; month++)
                                {
                                    <option value="@month">@month</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select id="ExpiryYear" name="ExpiryYear" class="form-control">
                                @for (int year = DateTime.Now.Year; year <= DateTime.Now.Year + 10; year++)
                                {
                                    <option value="@year">@year</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="CVV" class="col-md-4 col-form-label"><b>CVV Number:</b></label>
                <div class="col-md-4">
                    <input type="text" id="CVV" name="CVV" maxlength="4" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-md-6">
                    <input type="submit" value="Place Order" class="btn btn-primary" />
                    <a href="https://localhost:7150/Product/ProductSearch" style="margin-left: 60px;"><b>Go Back</b></a>
                </div>
            </div>
        </form>
    </div>
</div>
