@model List<ConstructionApplication.ViewModels.DailyAttendance.DailyAttendanceVm>

<h1>Attendance Report</h1>
<br/>
<html>
    <body>
        @* <span class="text-danger"> <b> @ViewBag.errorMessage </b> </span> *@
        <form method="get" asp-action="Index" onsubmit="return validateDates()">
            <label><b>Range:</b></label>
            <input type="date" name="DateFrom" value="@ViewBag.DateFrom" />
            <input type="date" name="DateTo" value="@ViewBag.DateTo" />
            <button type="submit" class="btn btn-primary">Go</button>
        </form>
        <span id="errorMessage" class="text-danger"></span>
        <br/>
        <table border="3px" class="table">
            <tr class="table1">
                <td><b>Date</b></td>
                <td><b>Total Count(Master Mason + Labour)</b></td>
                <td><b>Total Master Mason Amount</b></td>
                <td><b>Total Labour Amount</b></td>
                <td><b>Total Amount</b></td>
            </tr>

            @foreach (ConstructionApplication.ViewModels.DailyAttendance.DailyAttendanceVm dailyAttendanceVm in Model)
            {
                <tr class="table1">
                <td><b>@dailyAttendanceVm.Date.ToString("dd-MMMM-yyyy")</b></td>
                <td><b>@dailyAttendanceVm.TotalCount</b><i>(@dailyAttendanceVm.TotalMasterMason + @dailyAttendanceVm.TotalLabour)</i></td>
                <td><b>@dailyAttendanceVm.MasterMasonAmount</b></td>
                <td><b>@dailyAttendanceVm.LabourAmount</b></td>
                <td><b>@dailyAttendanceVm.TotalAmount</b></td>
                </tr>
            }
        </table>
        <script>
        function validateDates() {
            // Get the date values
            var dateFrom = document.getElementById("DateFrom").value;
            var dateTo = document.getElementById("DateTo").value;
            var errorMessage = document.getElementById("errorMessage");
            errorMessage.innerHTML = "";

            // Convert date strings to Date objects
            var currentDate = new Date().toISOString().split('T')[0];
            var fromDate = dateFrom ? new Date(dateFrom) : null;
            var toDate = dateTo ? new Date(dateTo) : null;

            // Check if DateFrom is greater than DateTo (when both are provided)
            if (fromDate && toDate && fromDate > toDate) {
                errorMessage.innerHTML = "FROM DATE cannot be greater than TO DATE.";
                return false;
            }

            // Check both DateFrom and DateTo is in the future
            if (dateTo && dateFrom > currentDate || dateFrom && dateTo > currentDate) {
                errorMessage.innerHTML = "FROM DATE and TO DATE cannot be in the future.";
                return false;
            }
            return true;
        }
        </script>
    </body>
</html>