@model List<ShopEase.ViewModels.ProductVm>

<h1>Product Table</h1>

<html>
<head>
    <title>Product Table</title>
</head>
<br />
<span class="text-success"> <b> @TempData["SuccessMessageForAdd"] </b> </span>
<br />
<div>
    <b><b><a href="https://localhost:7150/Product/Add"> Add </a></b></b>
</div
<br />
<b><label>Total Product:</label>  @ViewBag.productsCount</b>
<br />
<body>
    <form>
        <table border="3px" class="table">
            <tr class="table1">
                <td><b><a asp-action="Index" asp-route-sortColumnName="ProductName" asp-route-sortOrder="ASC">Product Name</a></b></td>
                <td><b><a asp-action="Index" asp-route-sortColumnName="BrandName" asp-route-sortOrder="ASC">Brand Name</a></b></td>
                <td><b><a asp-action="Index" asp-route-sortColumnName="Price" asp-route-sortOrder="ASC">Price</a></b></td>
                <td><b><a asp-action="Index" asp-route-sortColumnName="Discount" asp-route-sortOrder="ASC">Discount</a></b></td>
                <td><b><a asp-action="Index" asp-route-sortColumnName="ActualPrice" asp-route-sortOrder="ASC">Actual Price</a></b></td>
                <td><b><a asp-action="Index" asp-route-sortColumnName="CategoryName" asp-route-sortOrder="ASC">Category Name</a></b></td>
                <td><b><a asp-action="Index" asp-route-sortColumnName="SupplierName" asp-route-sortOrder="ASC">Supplier Name</a></b></td>
            </tr>

            @foreach (ShopEase.ViewModels.ProductVm productVm in Model)
            {
                <tr class="table1">
                    <td><b><a href="https://localhost:7150/Product/View/@productVm.Id">@productVm.ProductName</a></b></td>
                    <td><b>@productVm.BrandName</b></td>
                    <td><b>@productVm.Price</b></td>
                    <td><b>@productVm.Discount</b></td>
                    <td><b>@productVm.ActualPrice</b></td>
                    <td><b>@productVm.CategoryName</b></td>
                    <td><b>@productVm.SupplierName</b></td>
                </tr>
            }
        </table>
    </form>
</body>
