@model List<ShopEase.ViewModels.ProductSearchResultVm>

<h2>Product Search Result</h2>

<html>
<br />
<b><label>Total Count Record:</label>  @ViewBag.TotalCountRecord</b>
<br />
<br />
<body>
    <form>
        <table border="3px" class="table">
            <tr>
                <td><b>Title</b></td>
                <td><b>Category Name</b></td>
                <td><b>Brand Name</b></td>
                <td><b>Price</b></td>
                <td><b>Actual Price</b></td>
                <td><b>Quantity</b></td>
            </tr>

            @foreach (ShopEase.ViewModels.ProductSearchResultVm productSearchResultVm in Model)
            {
                <tr>
                    <td><b><a href="https://localhost:7150/Product/View/@productSearchResultVm.Id">@productSearchResultVm.Title</a></b></td>
                    <td><b>@productSearchResultVm.CategoryName</b></td>
                    <td><b><a href="https://localhost:7150/Product/ProductSearchResultByBrand?brandId=@productSearchResultVm.BrandId">@productSearchResultVm.BrandName</a></b></td>
                    <td><b>@productSearchResultVm.Price</b></td>
                    <td><b>@productSearchResultVm.ActualPrice</b></td>
                    <td><b>@productSearchResultVm.Quantity</b></td>
                </tr>
            }
        </table>
    </form>
</body>
</html>