@model ShopEase.ViewModels.ProductVm

<html>

<h2 class="heading">
    Product View
</h2>

<body>
    <form asp-controller="Order" asp-action="PlaceOrder" method="get">
        <input type="hidden" name="ProductId" value="@Model.Id" id="ProductId" />
        <table class="table" style="width:600px;">
            <tr>
                <td><b>Product Name:</b></td>
                <td>@Model.ProductName</td> 
            </tr>
            <tr>
                <td><b>Category Name:</b></td>
                <td>@Model.CategoryName</td>
            </tr>
            <tr>
                <td><b>Brand Name:</b></td>
                <td>@Model.BrandName</td>
            </tr>
            <tr>
                <td><b>Price:</b></td>
                <td>
                    @Model.Price
                    <input type="hidden" name="Price" value="@Model.Price" id="Price" />
                </td>
            </tr>
            <tr>
                <td><b>Actual Price:</b></td>
                <td>@Model.ActualPrice</td>
            </tr>
            <tr>
                <td><b>Discount:</b></td>
                <td>@Model.Discount</td>
            </tr>
            <tr>
                <td><b>Supplier Name:</b></td>
                <td>@Model.SupplierName</td>
            </tr>
            <tr>
                <td><b>Image:</b></td>
                <td> <img src="/UploadedFiles/@Model.ImageName" width="60" height="60" /> </td>
            </tr>
                <td>

                </td>
                <td>
                    <div class="form-group" >
                        <input type="submit" value="Buy Now" class="btn btn-primary" />
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <a href="https://localhost:7150/Product/Index"> <b>Back Home</b> </a>
    </form>
</body>

</html>