@model ConstructEase.WebApp.ViewModels.ServiceProviderVm

<h3 class="text-center mb-4">Service Provider Update</h3>

<div class="container">
    <div class="card shadow p-4">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <input type="hidden" id="ServiceProviderId" name="ServiceProviderId" value="@Model.ServiceProviderId">

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label><b>Service Provider Name</b></label>
                    <input type="text" name="ServiceProviderName" value="@Model.ServiceProviderName"
                           maxlength="15" class="form-control" required />
                </div>

                <div class="col-md-6 mb-3">
                    <label><b>Service Type</b></label>
                    @Html.DropDownListFor(model => model.ServiceTypeId, ViewBag.ServiceType as SelectList, "-- SELECT --", new { @class = "form-control" })
                </div>

                <div class="col-md-6 mb-3">
                    <label><b>Mobile Number</b></label>
                    <input type="text" name="MobileNumber" value="@Model.MobileNumber"
                           maxlength="10" minlength="10" class="form-control" required />
                </div>

                <div class="col-md-6 mb-3">
                    <label><b>Referred By</b></label>
                    <input asp-for="ReferredBy" class="form-control" required />
                </div>

                <div class="col-md-6 mb-3">
                    <label><b>DOB</b></label>
                    <input type="text" name="DOB" value="@Model.DOB" class="form-control" />
                </div>

                <div class="col-md-6 mb-3">
                    <label><b>Gender</b></label><br />
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.Gender, "Male", new { @class = "form-check-input" })
                        <label class="form-check-label">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.Gender, "Female", new { @class = "form-check-input" })
                        <label class="form-check-label">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.Gender, "Transgender", new { @class = "form-check-input" })
                        <label class="form-check-label">Transgender</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.Gender, "Others", new { @class = "form-check-input" })
                        <label class="form-check-label">Others</label>
                    </div>
                </div>
            </div>

            <div class="text-center mt-3">
                <button type="button" id="btnToggleAddressButton" class="btn btn-secondary" onclick="toggleAddressFields()">
                    Tap for Address
                </button>
            </div>

            <div id="dvAddressFields" class="mt-4" style="display: none;">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label><b>Address Type</b></label>
                        @Html.DropDownListFor(model => model.AddressTypeId, ViewBag.AddressTypes as SelectList, "-- Select --", new { @class = "form-control" })
                    </div>

                    <div class="col-md-6 mb-3">
                        <label><b>Country Name</b></label>
                        @Html.DropDownListFor(model => model.CountryId, ViewBag.Countries as SelectList, "-- Select --", new { @class = "form-control" })
                    </div>

                    <div class="col-md-12 mb-3">
                        <label><b>Address</b></label>
                        <textarea name="AddressLine1" class="form-control">@Model.AddressLine1</textarea>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label><b>Pin Code</b></label>
                        <input type="text" name="PinCode" value="@Model.PinCode" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <input type="submit" value="Update" class="btn btn-primary px-4" />
                <input type="submit" value="Cancel" class="btn btn-outline-secondary px-4" />
            </div>
        </form>
    </div>
</div>

<script>
    function toggleAddressFields() {
        const addressFields = document.getElementById("dvAddressFields");
        const button = document.getElementById("btnToggleAddressButton");

        if (addressFields.style.display === "none") {
            addressFields.style.display = "block";
            button.textContent = "Tap to Hide Address";
        } else {
            addressFields.style.display = "none";
            button.textContent = "Tap for Address";
        }
    }
</script>