@model List<ShopEase.ViewModels.HealthManagement.HealthManagementVm>

<div>
    <h4>DERMA CIRCLES</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <p>+91 @Model.FirstOrDefault()?.ContactNumber</p>
            <p>@Model.FirstOrDefault()?.Email</p>
        </div>

        <div class="col-md-6">
            <p><strong>@Model.FirstOrDefault()?.Gender, @(DateTime.Now.Year - Model.FirstOrDefault()?.DOB.Year)</strong></p>
            <p>Blood Group: @Model.FirstOrDefault()?.BloodGroup</p>
        </div>
    </div>

    <hr />
    <h4>Prescription(RX)</h4>
    <hr />

    <style>
        .column-header {
            background-color: lightblue;
            white-space: nowrap;
        }
    </style>

    <table class="table table-bordered">
        <tr class="column-header">
            <td><b>S.no</b></td>
            <td><b>Drug Name</b></td>
            <td><b>Strength</b></td>
            <td><b>Frequency</b></td>
            <td><b>Instruction</b></td>
        </tr>

        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].Medicine)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].Strength)</td>
                <td>
                    @{
                        if (Model[i].Medicine.Contains("AdditionalFrequency"))
                        {
                            @Model[i].AdditionalFrequency
                        }
                        else
                        {
                            @Model[i].AdditionalFrequency @(Model[i].FrequencyMorning ? "Morning: 1" : "")
                            @(Model[i].FrequencyAfternoon ? "-  Afternoon: 1" : "")
                            @(Model[i].FrequencyNight ? "-  Night: 1" : "")
                        }
                    }
                </td>

                <td>@Html.DisplayFor(modelItem => Model[i].Instruction)</td>
            </tr>
        }
    </table>
</div>
