@model ConstructionApplication.ViewModels.ContractorVm.ContractorVm

<h4>Add Contractor</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <span class="text-danger"> <b> @ViewBag.errorMessage </b> </span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="width: 60%;">
                <label asp-for="ContractorName" class="control-label"><b>Contractor Name</b></label>
                <input asp-for="ContractorName" class="form-control" />
                <span asp-validation-for="ContractorName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="width: 70%;">
                <label><b>Gender</b></label><br />
                @Html.RadioButton("Gender", "Male", true) Male
                @Html.RadioButton("Gender", "Female") Female
                @Html.RadioButton("Gender", "Transgender") Transgender
                @Html.RadioButton("Gender", "Others") Others
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
            <br />
            <div class="form-group" style="width: 60%;">
                <label asp-for="DOB" class="control-label"><b>Date Of Birth</b></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="width: 60%;">
                <label for="ImageFile"><b>Profile Image</b></label>
                <input type="file" class="form-control" id="ImageFile" name="ImageFile" />
            </div>
            <br />
            <div class="form-group" style="width: 60%;">
                <label asp-for="MobileNumber" class="control-label"><b>Mobile Number</b></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="width: 60%;">
                <label asp-for="JobCategoryId" class="control-label"><b>Job Category</b></label>
                @Html.DropDownListFor(model => model.JobCategoryId, (SelectList)ViewBag.JobCategory, "-- SELECT --", new { @class = "form-control"})
                <span asp-validation-for="JobCategoryId" class="text-danger"></span>
            </div>
            <br />
            <button type="button" id="btnToggleAddressButton" class="btn btn-secondary" onclick="toggleAddressFields()">Tap for Address</button>
            <br /><br />

            <!-- Hidden Address Fields -->
            <div id="dvAddressFields" style="display: none;">
                <div class="form-group" style="width: 60%;">
                    <label asp-for="AddressLine1" class="control-label"><b>Address</b></label>
                    <input asp-for="AddressLine1" class="form-control" />
                    <span asp-validation-for="AddressLine1" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group" style="width: 60%;">
                    <label asp-for="AddressTypeId"><b>Address Type</b></label>
                    @Html.DropDownListFor(model => model.AddressTypeId, (SelectList)ViewBag.AddressTypes, "-- Select --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AddressTypeId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="form-group" style="width: 60%;">
                    <label asp-for="CountryId"><b>Country Name</b></label>
                    @Html.DropDownListFor(model => model.CountryId, ViewBag.Countries as SelectList, "-- Select --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="form-group" style="width: 60%;">
                    <label asp-for="PinCode" class="control-label"><b>Pin Code</b></label>
                    <input asp-for="PinCode" class="form-control" />
                    <span asp-validation-for="PinCode" class="text-danger"></span>
                </div>
                <br />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                &nbsp;&nbsp;&nbsp;
                <a href="https://localhost:7212/Contractor/Index"><b>Back To Contractor List</b></a>
            </div>
        </form>
    </div>
</div>

<script>
    function toggleAddressFields() {
        const addressFields = document.getElementById("dvAddressFields");
        const button = document.getElementById("btnToggleAddressButton");

        if (addressFields.style.display === "none") {
            addressFields.style.display = "block";
            button.textContent = "Tap to Hide Address";
        } else {
            addressFields.style.display = "none";
            button.textContent = "Tap for Address";
        }
    }
</script>
