@model List<MyWebApp.ViewModels.CustomerSearchOptionalVm>

@{
    ViewData["Title"] = "CustomerSearchResultOptional";
}

<html>
<head>
    <title>Customer Table</title>
</head>
<br />
<body>
    <form>
        <table border="3px" class="table">
            <tr>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>Gender</b></td>
                <td><b>Action</b></td>
            </tr>

            @foreach (CustomerSearchOptionalVm vmOptionalFilter in Model)
            {
                <tr>
                    <td><b>@vmOptionalFilter.FirstName</b></td>
                    <td><b>@vmOptionalFilter.LastName</b></td>
                    <td><b>@vmOptionalFilter.Gender</b></td>
                    <td>
                        <b>
                            @Html.ActionLink("Edit", "Edit", new { id = vmOptionalFilter.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = vmOptionalFilter.Id })
                        </b>
                    </td>
                </tr>
            }
        </table>
    </form>
</body>
</html>
