@model List<MyWebApp.Models.Customer>

@{
    ViewData["Title"] = "GetAllCustomers";
}

<html>
<head>
    <title>Customer Table</title>
</head>

<h2>
    Customers List
</h2>

<style>
    .heading {
        background-color: lightsalmon;
    }

    .table {
        width: 85%;
        height: 35%;
    }

    .table1 {
        background-color: aliceblue;
    }
</style>

<body>
    <form>
        <table border="3px" class="table">
            <tr class="table1">
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>Gender</b></td>
                <td><b>Email</b></td>
                <td><b>Age</b></td>
                <td><b>Mobile</b></td>
                <td><b>Actions</b></td>
            </tr> 
    
            @foreach(Customer customer in Model)
            {
                <tr class="table1">
                    <td><a href="http://localhost:5277/Customer/View/@customer.Id"><b>@customer.FirstName</b></a></td>
                            <td><b>@customer.LastName</b></td>
                            <td><b>@customer.Gender</b></td>
                            <td><b>@customer.Email</b></td>
                            <td><b>@customer.Age</b></td>
                            <td><b>@customer.Mobile</b></td>
                            <td> @Html.ActionLink("Edit", "Edit", new { id = customer.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = customer.Id }) </td>
                </tr>
            }
        </table>
        <label>Total Customers:</label>  @ViewBag.customerCount
    </form>

</body>

<div>
    <a href="http://localhost:5277/Customer/Register"> Register </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>