@model List<MyWebApp.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <title>Movie Table</title>
</head>
</br>
@*<span class="text-success"> <b> @ViewBag.SuccessMessageForAdd </b> </span>*@
<span class="text-success"> <b> @TempData["SuccessMessageForAdd"] </b> </span>

<span class="text-success"> <b> @TempData["SuccessMessageForDelete"] </b> </span>
<br />
<div>
    <a href="http://localhost:5277/Movie/Add"> <b>Add</b> </a>
</div>
<br />
<body>
    <form>
        <table border="3px" class="table">
            <tr class="table1">
                <td><b>Movie Name</b></td>
                <td><b>Director Name</b></td>
                <td><b>Actor Name</b></td>
                <td><b>Action</b></td>
            </tr>

            @foreach (Movie movie in Model)
            {
                <tr class="table1">
                    <td><b>@movie.MovieName</b></td>
                    <td><b>@movie.DirectorName</b></td>
                    <td><b>@movie.ActorName</b></td>
                    <td> @Html.ActionLink("Edit", "Edit", new { id = movie.Id })
                         @Html.ActionLink("Delete", "Delete", new { id = movie.Id }) </td>
                </tr>
            }
        </table>
    </form>
</body>
</html>
